<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuthApp</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
 
    <link rel="icon" href="/images/12.png" type="image/x-icon">

</head>
<body>
    
<nav>
    <a href="/">AuthApp</a>

    <a href="/">Username</a>
    <a href="/login">Change Password</a>
    <a href="/register">Logout</a>


       
</nav>